body {
  background-image: url(./Immagini/bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}
.logo {
  width: 10%;
  padding: 15px 0px 0px 15px;
}

