* , *::before, *::after{
  box-sizing: border-box;
}
/* #timer{
    color: white;
    font-size: 24px;
    text-align: right;
    margin-right: 50px;
    height: 30px;
  } */
  .buttons {
    display: inline-block;
    font-weight: bold;
    background-color: #ffffff25;
    color: #fff;
    margin: 10px 10px 5px 10px;
    padding: 15px;
    min-height: 80px;
    font-size: 16px;
    min-width: 400px;
    vertical-align: top;
    border-radius: 50px;
    border: none;
  }
  .buttons:hover {
    cursor: pointer;
    transition-delay: 50ms;
    display: inline-block;
    border: none;
    padding: 15px;
    min-height: 80px;
    font-size: 16px;
    min-width: 400px;
    vertical-align: top;
    border-radius: 52px;
    outline: none;
    background-color: #D20094;
  }
  .buttons:focus {
    display: inline-block;
    background-color: #D20094;
    border: none;
    padding: 15px;
    min-height: 80px;
    font-size: 16px;
    min-width: 400px;
    box-shadow: 0px 0px 10px #D20094;
    vertical-align: top;
    border-radius: 52px;
    outline: none;
  }
  #buttonGo{
    height: 63px;
    
  }
  #nextButton{
    cursor: pointer;
    float: right;
    margin-right:15%;
    font-weight: bold;
    color: white;
    background-color: #d20094;
    border: none;
    padding: 15px;
    min-height: 62px;
    font-size: 16px;
    min-width: 130px;
    vertical-align: top;
    outline: none;
  }
  #nextButton:hover{
    float: right;
    font-weight: bold;
    color: white;
    background-color: #d20094;
    border: none;
    padding: 15px;
    min-height: 62px;
    font-size: 16px;
    min-width: 130px;
    vertical-align: top;
    outline: none;
  }
  #title {
    box-sizing: border-box;
    width: 40%;
    margin-left:  30%;;
    margin-right: auto;
    margin-top: 100px;
    font-weight: normal;
    font-size: 60px;
    color: white;
    text-align: center;
  }
  #mainArgument {
    box-sizing: border-box;
    width: 60%;
    margin-left: 28%;
    margin-top: 50px;
  }
  #mainArgument div {
    display: inline-block;
    padding: 12px 24px 20px 24px;
  }
  .foot{
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      margin-top: 50px;
  }
  